*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.cssbg{
    background-color: #E1DFA4;
}
.ll{
    background-color: linear-gradient(180deg, rgba(255,118,76,1) 40%, rgba(0,0,0,0) 100%)
}